@charset "UTF-8";

body {
  background-color: #CCFFFF	;
  padding-left: 200px;
}

tr:nth-child(odd){
	
	background-color: aqua;
}

 header{
	font-size : 100%;
	color : #ff0000;
	/* background-color : #ffffff; */
	background-color: #CCFFFF	
  
}

